trigger:
  branches:
    include: ['*']
  tags:
    include: ['*']
pool:
  vmImage: vs2017-win2016
steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@3
  displayName: 'Use Yarn 1.x'

- task: geeklearningio.gl-vsts-tasks-yarn.yarn-task.Yarn@2
  displayName: 'Install dependencies'

- task: Npm@1
  displayName: 'Publish to NPM'
  inputs:
    command: publish
    verbose: false
    publishEndpoint: 'NPM joaomoreno.ms'
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))